fedora-ws-clients/ws-beans/sakai-beans/xsd/mountpoint.xsd

<?xml version="1.0"?>
<schema targetNamespace="org:sakaiproject:content:chh:fedora"
	xmlns:chh="org:sakaiproject:content:chh:fedora"
	xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	blockDefault="substitution"
	version="2.0">
	
	<complexType name="fedoraMountPointType">
		<attribute name="apiAEndpoint" type="string"/>
		<attribute name="apiMEndpoint" type="string"/>
		<attribute name="adminUsername" type="string"/>
		<attribute name="adminPassword" type="string"/>
	</complexType>
	
	<element name="Fedora" type="chh:fedoraMountPointType" />
	
</schema>
